/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.profile-section {
  display: flex;
}

.avatar {
  flex: 1;
}

.details {
  margin-right: 8em;
}

.details:avatar {
  margin-right: 20px;
  text-align: right;
}

.profile-image {
  width: 20em;
  height: 20em;
  border-radius: 50%;
}


.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 80%; /* Full width */
  padding: 20px; /* Some padding */
  margin-bottom: 9em;
}

.image-container {
  height: 56em;
}
