.MuiInput-underline.Mui-error:after {
    transform: scaleX(1);
    border-bottom-color: #f44336;
}

.MuiFormLabel-root.Mui-error {
    color: #f44336;
}

#standard-name-helper-text {
    color: #f44336 !important;
}